<body>
<!--<div>-->
<!--  <form [formGroup]="formDespesa" (ngSubmit)="onSubmit()">-->

<!--    <div class="form-group">-->
<!--      <label for="nome">Nome</label>-->
<!--      <input type="text" class="form-control" name="nome" id="nome" formControlName="nome" required>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="tipo">Tipo</label>-->
<!--      <select class="form-control" name="tipo" id="tipo" formControlName="tipo">-->
<!--        <option *ngFor="let tpDespesa of keys(tipoDespesa)"-->
<!--                [ngValue]="tpDespesa">-->
<!--        </option>-->
<!--      </select>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="valor">Valor</label>-->
<!--      <input type="number" class="form-control" name="valor" id="valor" formControlName="valor" required>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="data">Data da despesa</label>-->
<!--      <input type="date" class="form-control" name="data" id="data" formControlName="data">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="descricao">Descrição</label>-->
<!--      <textarea class="form-control" rows="3" name="descricao" id="descricao" formControlName="descricao"></textarea>-->
<!--    </div>-->

<!--    <input type="submit"-->
<!--           class=" btn btn-secondary mt-4 ml-2 bg-gray-800 p-1 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 text-white"-->
<!--           value="Salvar">-->
<!--    <a href="#"-->
<!--       class="btn btn-secondary mt-4 ml-2 bg-gray-800 p-1 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 text-white">Cancelar</a>-->

<!--  </form>-->
<!--</div>-->
<div><app-tabela></app-tabela></div>
</body>
