<body>
<div class="demo-button-container" id="adicionarCampo">
  <button mat-raised-button (click)="openPopup()">
    <mat-icon class="green-icon">add</mat-icon>
  </button>
</div>

<div class="mat-elevation-z8" id="table">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo</th>
      <td mat-cell *matCellDef="let item">
        <ng-container *ngIf="!item.editMode">{{ item.tipo }}</ng-container>
        <ng-container *ngIf="item.editMode">
          <mat-form-field>
            <mat-label>Tipo de Despesa</mat-label>
            <mat-select>
              <mat-option *ngFor="let tipo of tiposDespesas" [value]="tipo" [(ngModel)]="item.tipo">
                {{getTipoDespesaLabel(tipo)}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição</th>
      <td mat-cell *matCellDef="let item">
        <ng-container *ngIf="!item.editMode">{{ item.descricao }}</ng-container>
        <ng-container *ngIf="item.editMode">
          <input matInput value="descricao" [(ngModel)]="item.descricao" (keyup.enter)="editarCampo(item)">
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor</th>
      <td mat-cell *matCellDef="let item">
        <ng-container *ngIf="!item.editMode">{{ item.valor | currency }}</ng-container>
        <ng-container *ngIf="item.editMode">
          <input matInput value="valor" [(ngModel)]="item.valor" (keyup.enter)="editarCampo(item)">
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data</th>
      <td mat-cell *matCellDef="let item">
        <ng-container *ngIf="!item.editMode">{{ item.data | date: 'dd/MM/yyyy' }}</ng-container>
        <ng-container *ngIf="item.editMode">
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput value="data" [matDatepicker]="basicDatepicker" [(ngModel)]="item.data" (keyup.enter)="editarCampo(item)">
            <mat-datepicker-toggle matIconSuffix [for]="basicDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #basicDatepicker></mat-datepicker>
          </mat-form-field>
          <!--        <mat-form-field>-->
          <!--          <input matInput type="datetime" [(ngModel)]="item.data" (keyup.enter)="editarCampo(item)">-->
          <!--        </mat-form-field>-->
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações</th>
      <td mat-cell *matCellDef="let item">
        <ng-container *ngIf="!item.editMode">
          <button mat-icon-button color="primary" (click)="editarCampo(item)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="excluirCampo(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="item.editMode">
          <button mat-icon-button color="primary" (click)="salvarCampo(item)">
            <mat-icon>done</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
</body>

<!--<body>-->
<!--<div class="demo-button-container">-->
<!--  <button mat-raised-button (click)="addData()" class="demo-button">-->
<!--    Add data-->
<!--  </button>-->
<!--  <button-->
<!--    mat-raised-button-->
<!--    [disabled]="!dataSource.length"-->
<!--    (click)="removeData()"-->
<!--    class="demo-button">-->
<!--    Remove data-->
<!--  </button>-->
<!--</div>-->

<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">-->
<!--  &lt;!&ndash; Position Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="position">-->
<!--    <th mat-header-cell *matHeaderCellDef>No.</th>-->
<!--    <ng-container *ngIf="!editMode">-->
<!--      <td mat-cell *matCellDef="let element">{{element.position}}</td>-->
<!--    </ng-container>-->
<!--    <ng-container *ngIf="editMode">-->
<!--      <input type="text" *matCellDef="let element"/>-->
<!--    </ng-container>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Name Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="name">-->
<!--    <th mat-header-cell *matHeaderCellDef>Name</th>-->
<!--    <td mat-cell *matCellDef="let element">{{element.name}}</td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="weight">-->
<!--    <th mat-header-cell *matHeaderCellDef>Weight</th>-->
<!--    <td mat-cell *matCellDef="let element">{{element.weight}}</td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="symbol">-->
<!--    <th mat-header-cell *matHeaderCellDef>Symbol</th>-->
<!--    <td mat-cell *matCellDef="let element">{{element.symbol}}</td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->

<!--</body>-->
