#table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 20% !important;
}

mat-paginator{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#adicionarCampo{
  padding: 2%;
  margin-right: 5%;

  button{
    float: right;
    width: 200px;
    height: 40px;
  }
}

.green-icon{
  color: green;
}



