#table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

mat-paginator{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#adicionarCampo{
  padding: 2%;
  margin-right: 5%;
  float: right;


  button{
    width: 40px;
    height: 40px;
  }
}

.green-icon{
  color: green;
}


